<?xml version='1.0' encoding='utf-8'?>
<robot name="h1_description_ghost">
  <mujoco>
    <compiler meshdir="../meshes" discardvisual="false" />
  </mujoco>


  
  


  <link name="pelvis">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/pelvis.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <link name="left_hip_yaw_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0 0.0875 -0.1742" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.43" upper="0.43" effort="200" velocity="23" />
  </joint>
  <link name="left_hip_roll_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0.039468 0 0" rpy="0 0 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.43" upper="0.43" effort="200" velocity="23" />
  </joint>
  <link name="left_hip_pitch_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.11536 0" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="2.53" effort="200" velocity="23" />
  </joint>
  <link name="left_knee_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="0 0 -0.4" rpy="0 0 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.26" upper="2.05" effort="300" velocity="14" />
  </joint>
  <link name="left_ankle_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_ankle_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_ankle_joint" type="revolute">
    <origin xyz="0 0 -0.4" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87" upper="0.52" effort="40" velocity="9" />
  </joint>
  <link name="right_hip_yaw_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0 -0.0875 -0.1742" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.43" upper="0.43" effort="200" velocity="23" />
  </joint>
  <link name="right_hip_roll_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0.039468 0 0" rpy="0 0 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.43" upper="0.43" effort="200" velocity="23" />
  </joint>
  <link name="right_hip_pitch_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.11536 0" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="2.53" effort="200" velocity="23" />
  </joint>
  <link name="right_knee_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="0 0 -0.4" rpy="0 0 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.26" upper="2.05" effort="300" velocity="14" />
  </joint>
  <link name="right_ankle_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_ankle_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_ankle_joint" type="revolute">
    <origin xyz="0 0 -0.4" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87" upper="0.52" effort="40" velocity="9" />
  </joint>
  <link name="torso_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/torso_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="torso_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="torso_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.35" upper="2.35" effort="200" velocity="23" />
  </joint>
  <link name="left_shoulder_pitch_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.0055 0.15535 0.42999" rpy="0.43633 0 0" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.87" upper="2.87" effort="40" velocity="9" />
  </joint>
  <link name="left_shoulder_roll_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="-0.0055 0.0565 -0.0165" rpy="-0.43633 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.34" upper="3.11" effort="40" velocity="9" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.1343" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.3" upper="4.45" effort="18" velocity="20" />
  </joint>
  <link name="left_elbow_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.0185 0 -0.198" rpy="0 0 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.25" upper="2.61" effort="18" velocity="20" />
  </joint>
  <link name="right_shoulder_pitch_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.0055 -0.15535 0.42999" rpy="-0.43633 0 0" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.87" upper="2.87" effort="40" velocity="9" />
  </joint>
  <link name="right_shoulder_roll_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="-0.0055 -0.0565 -0.0165" rpy="0.43633 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3.11" upper="0.34" effort="40" velocity="9" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.1343" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-4.45" upper="1.3" effort="18" velocity="20" />
  </joint>
  <link name="right_elbow_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.0185 0 -0.198" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.25" upper="2.61" effort="18" velocity="20" />
  </joint>
  <link name="imu_link" />
  <joint name="imu_joint" type="fixed">
    <origin xyz="-0.04452 -0.01891 0.27756" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="imu_link" />
  </joint>
  <link name="logo_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/logo_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>

  </link>
  <joint name="logo_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="logo_link" />
    <axis xyz="0 0 0" />
  </joint>


  <link name="d435_left_imager_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="d435_left_imager_joint" type="fixed">
    <origin xyz="0.10848474394 0.0175 0.69317107367" rpy="-2.45735 0 -1.57080" />
    <parent link="torso_link" />
    <child link="d435_left_imager_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="d435_rgb_module_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="d435_rgb_module_joint" type="fixed">
    <origin xyz="0.10848474394 0.0325 0.69317107367" rpy="-2.45735 0 -1.57080" />
    <parent link="torso_link" />
    <child link="d435_rgb_module_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="mid360_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.001" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="mid360_joint" type="fixed">
    <origin xyz="0.04729990180 0 0.67492878653" rpy="0 0.243124 0" />
    <parent link="torso_link" />
    <child link="mid360_link" />
    <axis xyz="0 0 0" />
  </joint>

</robot>